@import "global";

body {
	background-color: #090a1a !important;
}

* {
	color: #fff;
}

.sect-2-home {
	padding-top: 60px;
	.container {
		.row {
			.col-md-6 {
				h3 {
					font-size: 15px;
					color: #9ca0d2;
				}
				h1 {
					font-weight: 700 ;
					margin-bottom: 20px;
				}
			}
		}
	}
}