@import "global";

.navbar {
	background-color: #090a1a !important;
	.container {
		.collapse {
			ul {
				column-gap: 10px;
				li {
					.nav-link {
						color: #9ca0d2;

					}
				}
			}
			.btn-regiter {
				background-color: #001aff;
				padding: 8px 12px;
				border-radius: 10px;
				color: #fff;
				margin-left: 20px;
			}
		}
	}
}